@model BookModel

<div class="card">
    <div class="card-header" style="font-weight:bold">
        @Model.Title
    </div>
    <div class="card-body">
        @Model.Description
    </div>
    <div class="card-footer">
        @Model.ReleaseYear - @Model.Author
    </div>
</div>